@*
    asp-controller vilken controller
    asp-action vilken action ska man gå till
*@

<div class="mb-5">
    <a asp-controller="account" asp-action="register" class="m-2">Register</a>
    <a asp-controller="account" asp-action="signin" class="m-2">Sign In</a>
    <a asp-controller="account" asp-action="index" class="m-2">My Account</a>
</div>