@*
    asp-controller vilken controller
    asp-action vilken action ska man gå till
*@

<div class="header">
    <h1 class="header-logo">SitemapWhizz</h1>
    <div class="m-2">Convert website url to different xml files.</div>
</div>