@model UrlViewModel
@{
    ViewData["Title"] = "Home";
}

<form class="form-container" asp-action="GenerateXML" method="post" id="xmlForm">
    <div class="form-group">
        <label class="form-group-label">Please enter your website Url:</label>
        <input asp-for="Url" type="text" class="form-group-input" id="url" name="Url" value="@Model.Url" required placeholder="ex. https://portfolio-9k5o.onrender.com/" />
    </div>
    <div class="form-check">
        <label asp-for="GenerateHtmlData" class="form-check-label" for="generateHtmlData"></label>
        <input asp-for="GenerateHtmlData" class="form-check-input" type="checkbox" name="GenerateHtmlData" id="generateHtmlData" value="true">
    </div>
    <input type="hidden" name="actionType" value="view" />
    <button type="submit" class="btn btn-primary form-btn" onclick="setAction('view')">Generate XML</button>
    <button type="button" class="btn btn-secondary form-btn" onclick="setAction('download')">Download XML</button>
</form>

<div class="about">
    ´<div>
        <h2 class="about-title">About this page and the developer</h2>
        <p class="about-website">This is a simple tool that generates an XML sitemap for a given website URL. The XML sitemap is a file that lists all the pages of a website and helps search engines like Google to better understand the structure of the website.</p</div>
        <p class="about-me">My name is Lirije and I am a full stack developer based in Sweden. I have a passion for coding and I love to build things that make people's lives easier. I hope you find this tool useful and if you have any feedback or suggestions, feel free to reach out to me.</p>
        <p class="about-thanks">Thank you for visiting my website!</p>
        <p class="about-link">Feel free to visit my portfolio and take part of my other projects: <a href="https://portfolio-9k5o.onrender.com/" target="_blank">https://portfolio-9k5o.onrender.com/</a></p>
    </div>
</div>

<script>
    function setAction(type) {
        var form = document.getElementById('xmlForm');
        var actionType = document.querySelector('input[name="actionType"]');
        if (type === 'view') {
            form.target = '_blank';
            actionType.value = 'view';
        } else if (type === 'download') {
            form.target = '_self';
            actionType.value = 'download';
        }
        form.submit();
    }
</script>
